/* Slides - general */
.cycleslide {
	width: 1007px;
	height: 820px;
	padding: 5px;
	border: 1px solid #ffe9b0;
	margin: 1px 0px;	
}
.cycleslide-inner {
	background-color: #ffe9b0;
	height: 100%;
	overflow: hidden;
}
.cycleslide .caption {
}
.cycleslide .caption-inner {
	padding: 5px;
	font-size: 12px;
	line-height: 21px; 
}
.cycleslide img {
	border-right: 5px solid white;
	border-bottom: 5px solid white;
}
.cycleslide .caption-inner p {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
}
.prev {
	position: relative;
	float: left;
	left: -25px;
	top: -400px;
	padding: 10px;
	background: url('left_20.png') no-repeat center center #343b43;
	opacity: 0.5;
	z-index: 101;
	color: white;
	width: 14px;
	height: 40px;
}
.next {
	position: relative;
	float: right;
	right: -25px;
	top: -400px;
	padding: 10px;
	background: url('right_20.png') no-repeat center center #343b43;
	opacity: 0.5;
	z-index: 101;
	color: white;
	width: 14px;
	height: 40px;
}
.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
	opacity: 1.0;
	color: white;
}
/* Slides - layouts */
/* 1 vertical image */
.cycleslide.layout1v .images {
	float: left;
/*	width: 634px; */
}
.cycleslide.layout1v .caption {
	width: auto;
	height: 100%;
	overflow: auto;
}
.cycleslide.layout1v .caption-inner {
	padding-top: 410px;
	padding-left: 10px;
}

/* 1 horizontal image */
.cycleslide.layout1h {
	overflow: hidden;
}
.cycleslide.layout1h .caption {
	height: 100%;
}

/* 2 vertical images */
.cycleslide.layout2v {
	overflow: hidden;
}
.cycleslide.layout2v .images {
	white-space: nowrap;
}
.cycleslide.layout2v img {
	display: inline;
	width: 50%;
	margin-left: -4px;
}
.cycleslide.layout2v img:first-child {
	margin-left: 0;
}
.cycleslide.layout2v .caption {
	height: 100%;
}

/* 3 vertical images */
.cycleslide.layout3v img {
	display: inline;
	width: 33.1%;
	margin-left: -4px;
}
.cycleslide.layout3v img:last-child {
	border-right: none;
}

/* Specific slide overrides */
.cycleslide.slide69 img {
	height: 651px;
	width: auto;
}
.cycleslide.slide84 img {
	height: 692px;
	width: auto;
}
.cycleslide.slide87 img {
	height: 698px;
	width: auto;
}
.cycleslide.slide97 img {
	height: 672px;
	width: auto;
}
.cycleslide.slide100 img {
	height: 541px;
	width: auto;
}

/* =Media queries
-------------------------------------------------------------- */
/* Screens narrower than */
@media screen and (max-width: 1160px) {
	body {
		/* Blue banner 
		border-top: 5px solid #00f;
		*/
	}
	.slideshow {
		margin: 10px auto; /* this centers all slides, as the containers change shape around them */
		width: 951px;
		height: 812px;
	}
	.cycleslide {
		width: 939px;
		height: 800px;
	}
	/* Layout 1v */
	.cycleslide.layout1v img {
		height: 800px;
		width: auto;
	}
	/* Layout 1h */
	/* Layout 2v */
	/* Layout 3v */
	/* Slide-specific overrides */
	.cycleslide.slide97 img {
		max-height: 626px;
	}
	.cycleslide.slide100 img {
		max-height: 504px;
	}
}

/* 
10" tablets
7" tablets in landscape
---
1024 x 768
800 x 600
Nexus landscape
iPad landscape
iPad portrait
*/
@media screen and (max-width: 1023px) {
	body {
		/* Red banner
		border-top: 5px solid #f00;
		*/
	}
	.slideshow {
		width: 695px;
		height: 601px;
	}
	.cycleslide {
		width: 683px;
		height: 589px;
	}
	.cycleslide .caption-inner {
		padding-top: 0;
	}
	/* Layout 1v */
	.cycleslide.layout1v .caption-inner {
		padding-top: 150px;
	}
	.cycleslide.layout1v img {
		height: 589px;
	}
	/* Layout 1h */
	.cycleslide.layout1h img {
		width: 683px;
	}
	/* Layout 2v */
	/* Layout 3v */
	/* Slide-specific overrides */
	.cycleslide.slide69 img {
		max-height: 439px;
	}
	.cycleslide.slide84 img {
		max-height: 468px;
	}
	.cycleslide.slide87 img {
		max-height: 472px;
	}
	.cycleslide.slide97 img {
		max-height: 454px;
	}
	.cycleslide.slide100 img {
		max-height: 366px;
	}
}


/*
Below about 680 px the slideshow cards start wrapping
---
768 x 1024
Nexus portrait
*/
@media screen and (max-width: 767px) {
	body {
		/* Dark green banner 
		border-top: 5px solid #090;
		*/
	}
	.slideshow {
		width: 527px;
		height: 521px;
	}
	.cycleslide {
		width: 515px;
		height: 509px;
	}
	/* Layout 1v */
	.cycleslide.layout1v .caption-inner {
		padding-top: 0px;
	}
	.cycleslide.layout1v img {
		height: 509px;
	}
	/* Layout 1h */
	.cycleslide.layout1h img {
		width: 515px;
	}
	/* Layout 2v */
	/* Layout 3v */
	/* Slide-specific overrides */
	.cycleslide.slide21 .images {
		width: 345px;
		overflow: hidden;
		border-right: 5px solid white;
	}
	.cycleslide.slide54 .images {
		width: 335px;
		overflow: hidden;
		border-right: 5px solid white;
	}
	.cycleslide.slide54 img {
		margin-left: -34px;
	}
	.cycleslide.slide67 img {
		height: 460px;
	}
	.cycleslide.slide69 img {
		max-height: 331px;
	}
	.cycleslide.slide84 img {
		max-height: 353px;
	}
	.cycleslide.slide87 img {
		max-height: 356px;
	}
	.cycleslide.slide93 .images {
		width: 372px;
		overflow: hidden;
		border-right: 5px solid white;
	}
	.cycleslide.slide93 img {
		margin-left: -16px;
	}
	.cycleslide.slide95 .images {
		width: 392px;
		overflow: hidden;
		border-right: 5px solid white;
	}
	.cycleslide.slide95 img {
		margin-left: -47px;
	}
	.cycleslide.slide97 img {
		max-height: 342px;
	}
	.cycleslide.slide100 img {
		max-height: 275px;
	}
}

/*
7" tablets in portrait
---
600 x 800
*/
@media screen and (max-width: 599px) {
	body {
		/* Green banner
		border-top: 5px solid #0f0;
		*/
	}
	.slideshow {
		width: 408px;
		height: 326px;
	}
	.cycleslide {
		width: 396px;
		min-height: 314px;
		height: auto;
	}
	.next {
		position: fixed;
		top: 40%;
		right: 0;
	}
	.prev {
		position: fixed;
		top: 40%;
		left: 0;
	}
	/* Layout 1v */
	.cycleslide.layout1v .images {
		float: none;
		margin-bottom: -5px;
	}
	.cycleslide.layout1v img {
		width: 100%;
		border: none;
		border-bottom: 5px solid white; 
		height: auto;
	}
	.cycleslide.layout1v .caption-inner {
		padding: 5px;
	}
	/* Layout 1h */
	.cycleslide.layout1h img {
		width: 396px;
	}
	/* Layout 2v */
	/* Layout 3v */
	/* Slide-specific overrides */
	.cycleslide.slide21 .images,
	.cycleslide.slide54 .images,
	.cycleslide.slide93 .images,
	.cycleslide.slide95 .images {
		width: auto;
		border-right: none;
	}
	.cycleslide.slide54 img,
	.cycleslide.slide93 img,
	.cycleslide.slide95 img {
		margin-left: 0px;
	}

	.cycleslide.slide69 img {
		max-height: 254px;
	}
	.cycleslide.slide84 img {
		max-height: 270px;
	}
	.cycleslide.slide87 img {
		max-height: 273px;
	}
	.cycleslide.slide97 img {
		max-height: 262px;
	}
	.cycleslide.slide100 img {
		max-height: 211px;
	}
}

/*
4" phones in portrait - linearize
---
iPhone tablet
iPhone portrait
*/
@media screen and (max-width: 480px) {
	body {
		/* Yellow banner
		border-top: 5px solid #ff0;
		*/
	}
	.slideshow {
		width: 100%;
		height: auto;
		margin: 10px 0;
	}
	.cycleslide {
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
	}
	/* Layout 1v */
	/* Layout 1h */
	.cycleslide.layout1h img {
		width: 100%;
	}	
	/* Layout 2v */
	.cycleslide.layout2v .images {
		margin-bottom: -5px;
	}
	.cycleslide.layout2v img {
		display: block;
		width: 100%;		
		border: none;
		border-bottom: 5px solid white; 
		height: auto;
		max-height: none;
		margin: 0;
	}
	.cycleslide.layout2v .caption-inner {
		padding: 5px;
	}
	/* Layout 3v */
	.cycleslide.layout3v .images {
		margin-bottom: -5px;
	}
	.cycleslide.layout3v img {
		display: block;
		width: 100%;		
		border: none;
		border-bottom: 5px solid white; 
		height: auto;
		max-height: none;
		margin: 0;
	}
	.cycleslide.layout3v .caption-inner {
		padding: 5px;
	}
	/* Slide-specific overrides */
}